/* Поле создания задачи */
.taskCreator {
  display: flex;
  justify-content: left;

  background-color: white;
  margin: 0 -12px;
  padding: 15px;
  border-radius: 3px;
}

.taskCreator form {
  display: flex;
  margin-left: 20px;
}

.taskCreator input {
  margin: 7px;
}

/* Оформление задачи */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  background-color: white;
  border-radius: 3px;

  margin: 10px;
  padding: 15px;
}

/* Сброс стандартного отступа слева */
ul {
  padding: 0;
}

.task li {
  max-width: 80%;
  overflow: hidden;
}

.done {
  list-style: inside '✓ ';
}

.undone {
  list-style: none;
}

/* Оформление всех вводов */
input[type='text'] {
  font-size: 16px;
  height: 20px;
  width: 60%;
}

input[type='checkbox'] {
  height: 20px;
  width: 20px;
  padding: 0;
  margin-left: 10px;
}

/* Оформление всех кнопок */
button {
  border: none;
  padding: 7px 10px;
  border-radius: 10px;
  margin: 5px;

  background-color: #646ff0;
  color: white;
  font-weight: 500;

  float: right;
}

@media (max-width: 600px) {
  .task > div {
    width: 100px;
  }
}
